/** all style tags **/

@import url("https://font.elice.io/css?family=Elice+Digital+Baeum");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

* {
    font-family: "Elice Digital Baeum", "Noto Color Emoji", sans-serif;
    cursor: url() , url(cursor_2.svg), url(./images/bluetag.cur) 1 1, auto;
}



/** header tags **/

header {
    height: auto;
    max-height: 50px;
    padding: 1em;
    display: inline-flex;
    background-color: #333;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    color: #fff;
}

.headDetails {
    position: fixed;
    top: 10px;
    right: 30px;
    align-content: center;
}

.headSummary {
    list-style: none;
    font-size: 24pt;
    text-align: right;
}

nav {
    align-self: center;
    background-color: #333;
}

.navi {
    padding: 0.5em 40px 0.5em 0;
    list-style: none;
}

.naviLink{
    color: #fff;
}

/** main tags **/

main, article {
    color: #333;
    margin: auto;
    min-width: 400px;
    max-width: 700px;
}

/*
button {
    display: block;
    background-color: #deeeff;
    border: 1px solid #3e94e1;
    min-width: 5em;
    margin: 10px auto;
}

p {
    margin: auto;
}
*/

a {
    text-decoration: none;
    color: #39e;
}

/** footer tags **/

footer {
    height: 50px;
    padding: 1em;
    
    color: #333;
    text-align: center;
}

.footerButton {
    width: 100px;
    margin: auto 20px;
    color: #808080;
    background-color: #fff;
    border: 0;
}