/* global */

@import url("https://font.elice.io/css?family=Elice+Digital+Baeum");
@import url("https://font.elice.io/css?family=Elice+Digital+Coding");
@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&display=swap");
@import url("https://github.com/xem/emoji/blob/gh-pages/twemoji.woff");
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/variable/woff2/SUITE-Variable.css");


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "SUITE Variable", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
    background-color: #fcfcfc;
    color: #2f333d;
    font-weight: 400;
}

h1 {
    font-family: "Galmuri11", "GalmuriMono11", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
    padding-top: 48px;
}

h2, h3{
    font-family: "Galmuri11", "GalmuriMono11", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

h4, h5, h6{
    font-family: "Galmuri9", "GalmuriMono9", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
    padding-top: 16px;
}

section {
    padding: 20px 28px 0 28px;
}

a {
    color: #8aaeff;
    text-decoration: none;
}

q, blockquote {
    font-family: "Galmuri7", "GalmuriMono7", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
}

code {
    background-color: #eee;
    font-family: "Elice Digital Coding", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
}

.dim {
    width: inherit;
    height: inherit;
    background-color: #000;
    opacity: 75%;
    position: absolute inherit;
}

::selection {
    color: #f2f2f2;
    background-color: #8aaeff;
}

/* nav */

@media (orientation: portrait) {
    nav {
        width: 99vw;
    }
}

@media (orientation: landscape) {
    nav {
        width: 100vw;
    }
}

.nav-logo img {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

nav details {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

nav details[open] {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #9088ff;
}

nav details summary {
    list-style: none;
    width: 160px;
    height: 24px;
    margin: 20px;

    background-image: url("./images/icon/density_medium_close.svg");
    background-repeat: no-repeat;
    background-position: right;
}

nav details[open] summary {
    background-image: url("./images/icon/density_medium_open.svg");
}

nav li {
    list-style: none;
    padding-top: 20px;
    padding-left: 28px;
}

nav a {
    color: #f2f2f2;
}

nav .selected {
    font-weight: 700;
    border-bottom: 2px dotted #f2f2f2;
}


/* header */

header {
    height: 240px;
    background-color: #2f333d;
}


/* main */

main {
    max-width: 884px;
    margin: 0 auto;
    padding: 0 12px;
}

main p {
    padding-top: 16px;
}


/* footer */

footer {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0;
    
    color: #707686;
    text-align: center;
    
    font-family: "SUITE Variable", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: 500;
}

footer p {
    padding-top: 16px;
}

footer .inliner {
    display: inline-flex;
    justify-content: space-between;
    padding: 16px 20px;
}

footer a {
    color: #707686;
}


/* scroll bar */

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #9088ff;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

::-webkit-scrollbar-button {
    box-decoration-break: none;
}


/* index */

@media screen and (orientation: portrait) {
    .index-header video {
        width: 99vw;
    }

    .index-header .header-block {
        display: block;

        width: 100%;
        height: 50%;
    }

    .header-block1 .block3 {
        background-color: #8aaeff;
    }
}

@media screen and (orientation: landscape) {
    .index-header video {
        width: 99.8vw;
    }

    .index-header .header-block {
        display: inline-block;

        width: 50%;
        height: 100vh;
    }

    .header-block1 .block4 {
        background-color: #8aaeff;
    }
    
}

.index-header {
    height: 100vh;
    background-color: #2f333d;
    background-image: url("./images/banner/main02.png");
    background-size: cover;
    background-position: right;
    background-attachment: fixed;

    font-size: 0;
}

.index-header video {
    height: inherit;
    position: absolute;
    object-fit: cover;
}

.index-logo {
    width: 95%;
    height: 100vh;
    margin: 0;
    align-content: end;
    position: relative;
    top: -90vh;
    right: -5vw;
}

.index-header p {
    text-align: right;
    color: #00000000;
    font-size: 240pt;
    font-weight: 600;
    
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fcfcfc
}

.header-block div {
    display: inline-block;
    width: 33.333%;
    height: 33.333%;

    background-position: center;
    background-size: cover;
}

.header-block1 .block2 {
    background-color: #f2f2f2;
    background-image: url(./images/banner/mainbanner.png);
}

.header-block1 .block5 {
    background-color: #e3aeff;
}

.header-block1 .block7 {
    background-color: #f2f2f2;
    background-image: url(./images/banner/mainbanner.png);
}

.header-block1 .block9 {
    background-color: #9088ff;
}

.header-block2 .block1 {
    background-color: #e3aeff;
}

.header-block2 .block2 {
    background-color: #8aaeff;
}

.header-block2 .block4 {
    width: 66.666%;
    background-color: #f2f2f2;
    background-image: url(./images/banner/mainbanner.png);
}

.header-block2 .block5 {
    background-color: #9088ff;
}

.header-block2 .block7 {
    width: 66.666%;

    background-color: #f2f2f2;
    background: linear-gradient(135deg, #e3aeff, #8aaeff);
}

.index-main {
    height: 90vh;
}

.index-works {
    text-align: center;
    padding-top: 20px;
}


/* about */

.about-header {
    height: 240px;
    background-color: #2f333d;
    background-image: none;
}

.about-section blockquote {
    margin: 0.5em 0;
    padding-left: 0.5em;
    border-left: 4px solid #474c5a;
}

.about-logo {
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
}

.about-button {
    width: 240px;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    background-color: #9088ff;
    text-align: center;
}

.about-button p {
    padding: 8px;
    color: #f2f2f2;
}

@media screen and (orientation: portrait) {
    .color-card-arrange {
        display: block;
        margin-top: 16px;
    }
    
    .color-card {
        width: inherit;
        height: 96px;

        margin: 0 auto;
        margin-top: 8px;
        padding-left: 16px;
        padding-bottom: 4px;

        border-radius: 6px;

        text-align: left;
        align-content: center;

        box-sizing: border-box;
    }
}

@media screen and (orientation: landscape) {
    .color-card-arrange {
        display: flex;
        margin-top: 16px;
    }
    
    .color-card {
        width: 160px;
        height: 160px;

        margin: 0 auto;
        margin-top: 8px;
        padding: 16px;
        padding-right: 24px;

        border-radius: 6px;
        
        text-align: center;
        align-content: center;

        box-sizing: border-box;
    }
}

.color-card h4 {
    padding-top: 4px;
    padding-left: 6px;
    
    font-family: "Elice Digital Baeum", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.color-card p {
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 0.7ex;
    
    font-family: "Elice Digital Baeum", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
    font-weight: 500;
}



/* works (index) */

@media screen and (orientation: portrait) {
    .works-card-arrange {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (orientation: landscape) {
    .works-card-arrange {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.works-card {
    width: 240px;

    margin: 0 auto;
    margin-top: 8px;
    
    border-radius: 6px;
}

.works-header {
    height: 240px;
    background-color: #2f333d;
    background-image: none;
}

.works-h2 {
    margin-top: 1em;
}

.works-card p {
    margin-top: 4px;
    margin-left: 6px;
}

.works-card .first {
    padding-left: 1em;
    border-left: 4px solid #474c5a;
    box-sizing: content-box;
}