/* global */

@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/variable/woff2/SUITE-Variable.css");
@import url("https://font.elice.io/css?family=Elice+Digital+Baeum");
@import url("https://font.elice.io/css?family=Elice+Digital+Coding");
@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&display=swap");
@import url("https://github.com/xem/emoji/blob/gh-pages/twemoji.woff");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "SUITE Variable", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
    background-color: #fcfcfc;
    color: #2f333d;
}

main {
    max-width: 884px;
    margin: 0 auto;
    padding: 0 12px;
}

h1 {
    padding-top: 48px;
}

h2, h3{
    padding-top: 24px;
}

h4, h5, h6{
    padding-top: 16px;
}

main p {
    padding-top: 16px;
}

section {
    padding: 20px 28px 0 28px;
}

a {
    color: #8aaeff;
    text-decoration: none;
}

q, blockquote {
    font-family: "Galmuri7", "GalmuriMono7", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
}

code {
    background-color: #eee;
    font-family: "Elice Digital Coding", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
}

.dim {
    width: inherit;
    height: inherit;
    background-color: #000;
    opacity: 75%;
    position: absolute inherit;
}

/* nav */

@media (orientation: portrait) {
    nav {
        width: 99vw;
    }
}

@media (orientation: landscape) {
    nav {
        width: 100vw;
    }
}

.nav-logo img {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

nav details {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

nav details[open] {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #9088ff;
}

nav details summary {
    list-style: none;
    width: 160px;
    height: 24px;
    margin: 20px;

    background-image: url("./images/icon/density_medium_close.svg");
    background-repeat: no-repeat;
    background-position: right;
}

nav details[open] summary {
    background-image: url("./images/icon/density_medium_open.svg");
}

nav li {
    list-style: none;
    padding-top: 20px;
    padding-left: 28px;
}

nav a {
    color: #f2f2f2;
}

nav .selected {
    font-weight: 700;
    border-bottom: 2px dotted #f2f2f2;
}


/* footer */

footer {
    width: 100%;
    margin: 0 auto;
    padding: 24px 0;
    bottom: 0;
    
    color: #707686;
    text-align: center;
    
    font-size: 8pt;
}

footer .inliner {
    display: inline-flex;
    justify-content: space-between;
    padding: 16px 20px;
}

footer a {
    color: #707686;
}


/* scroll bar */

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #9088ff;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

::-webkit-scrollbar-button {
    box-decoration-break: none;
}


/* index */

@media screen and (orientation: portrait) {
    .index-header video {
        width: 99.5vw;
    }
    
    .index-works-arrange {
        display: flex;
        flex-direction: column;
    }

    .old-work {
        width: 100%;
    }
}

@media screen and (orientation: landscape) {
    .index-header video {
        width: 99.9vw;
    }
    
    .index-works-arrange {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .old-work {
        width: 400px;
    }
}

.index-header {
    height: 100vh;
    background-color: #2f333d;
    background-image: url("./images/decoration/banner.png");
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}

.index-header video {
    height: inherit;
    position: absolute;
    object-fit: cover;
}

.index-header p {
    text-align: center;
    color: #f2f2f2;
}

.index-logo {
    width: 95%;
    max-width: 480px;
    height: 100vh;
    margin: 0 auto;
    align-content: center;
    position: relative;
    top: -100vh;
}

.index-works {
    text-align: center;
    padding-top: 20px;
}


/* about */

.about-header {
    height: 240px;
    background-color: #2f333d;
    background-image: none;
}

.about-section blockquote {
    margin: 0.5em 0;
    padding-left: 0.5em;
    border-left: 4px solid #474c5a;
}

.about-logo {
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
}

.about-button {
    width: 240px;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    background-color: #9088ff;
    text-align: center;
}

.about-button p {
    padding: 8px;
    color: #f2f2f2;
}

@media screen and (orientation: portrait) {
    .color-card-arrange {
        display: block;
        margin-top: 16px;
    }
    
    .color-card {
        width: inherit;
        height: 96px;

        margin: 0 auto;
        margin-top: 8px;
        padding-left: 16px;
        padding-bottom: 4px;

        border-radius: 6px;

        text-align: left;
        align-content: center;

        box-sizing: border-box;
    }
}

@media screen and (orientation: landscape) {
    .color-card-arrange {
        display: flex;
        margin-top: 16px;
    }
    
    .color-card {
        width: 160px;
        height: 160px;

        margin: 0 auto;
        margin-top: 8px;
        padding: 16px;
        padding-right: 24px;

        border-radius: 6px;
        
        text-align: center;
        align-content: center;

        box-sizing: border-box;
    }
}

.color-card h4 {
    padding-top: 4px;
    padding-left: 6px;
    
    font-family: "Elice Digital Baeum", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.color-card p {
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 0.7ex;
    
    font-family: "Elice Digital Baeum", "Noto Sans", "Twemoji Mozilla", "Noto Emoji", Arial, Helvetica, sans-serif;
    font-weight: 500;
}



/* redirections */
.redirections {
    height: 100vh;
    text-align: center;
    align-content: center;
}